/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

.header-ubout-us {
  background-image: url(../img/imges/background-about-us.png);
  background-repeat: no-repeat;
  background-position: 85% 15%;
  background-size: cover;
  z-index: 6;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

.voulonter-img {
  padding: 15px 15px;
}

/* .voulonter-img,
.soldier-img {
  display: flex;
  justify-content: center;
} */

.soldier_title {
  font-size: 19px;
  font-weight: 700;
  color: var(--sign-start-color);
  text-align: center;
  padding: 10px;
}

.soldier {
  background-color: rgba(217, 241, 250, 0.7);
  border: 1px solid var(--chapter-font-color);
  /* display: grid;
  grid-template-rows: auto; */ /* Рівномірний розподіл елементів по висоті */
  margin: 3px;
}

.soldier_description {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: #707070;
  text-align: center;
  padding: 10px 15px;
  color: var(--sign-start-color);
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
.places__header__description-tishyn {
  font-weight: 700; /* Якщо потрібно зберегти нормальну товщину шрифту */
  padding-top: 10px;
}

.places__subtitle-phrase {
  font-style: italic;
  font-weight: normal; /* Якщо потрібно зберегти нормальну товщину шрифту */
  padding-bottom: 10px;
}

.places__subtitle {
  padding: 20px 0;
}
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

@media (min-width: 960px) {
  .places__content-comand {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .military-comand {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */

.places__about-us-background {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url(../img/imges/volunteers/about-us-background.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 20px 0;
}

.places__point__text-color-reverse {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-font-color-light);
}

.places__header__text-color-reverse {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Swis721 LtEx BT";
  color: var(--title-font-color-white);
}

.places__description__text-color-reverse {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: var(--title-font-color-light);
}
/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
